{%- for vrf, vrf_data in vrfs.items() %}
vrf definition {{vrf}}
  rd {{vrf_data["rd"]}}
  {%- if vrf_data["ipv4_enabled"] %}
  address-family ipv4
    route-target export 100:1
    route-target import 100:1 
  exit-address-family
  {%- endif%}
  {%- if vrf_data["ipv6_enabled"] %}
  address-family ipv6
    route-target export 100:1
    route-target import 100:1
  exit-address-family
  {%- endif%}
{%- endfor%}
